@use '../abstracts/index' as abs;

.main-footer {
	background-color: abs.$rosapastel;
	padding: 2rem 1rem;
	text-align: center;
}

.footer-container {
	flex-direction: column;
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
}

.contact {
	&__title {
		margin-top: 0;
		font-family: abs.$montserratReg;
		font-size: 2rem;
	}

	&__social {
		margin: 0 auto;
	}

	&__anchor {
		margin: 1rem;
		color: abs.$black;
		font-size: 2rem;
	}
}
