@use '../abstracts/index' as abs;

.main-header {
	background-color: abs.$white;
	.container {
		position: relative;
		z-index: 10;
		background-color: abs.$white;
		width: 100%;
		max-width: 1120px;
		margin: 0 auto;
		padding: 0 1rem;
	}

	@include abs.breakpoint('large') {
		.container {
			padding: 0;
		}
	}
}

.header-nav {
	display: flex;
	align-items: center;
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
	position: relative;
	z-index: 10;

	&__logo {
		white-space: nowrap;
		font-weight: 700;
		text-align: center;
		font-size: 2rem;
		font-style: italic;
		font-family: abs.$helloVintage, sans-serif;
		color: abs.$logo;
	}
	.buttons-container {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: right;
	}

	@include abs.breakpoint('medium') {
		&__logo {
			margin: 0 auto;
		}
		.buttons-container {
			text-align: right;
			width: auto;
		}
	}

	@include abs.breakpoint('large') {
	}
}

.icon-button {
	height: 100%;
	padding: 0 0.5rem;
	color: abs.$logo;
	font-size: 1.5rem;
	cursor: pointer;
	line-height: 4rem;
	text-align: center;
}
