@use '../abstracts/index' as abs;

.main-sidepanel {
	display: none;
	background-color: abs.$beige;
	width: 20rem;
	height: auto;
	padding: 9rem 1rem;
	// margin-top: 9rem;

	&__imgcontainer {
		width: 18rem;
	}

	&__img {
		width: 100%;
	}

	@include abs.breakpoint('medium') {
		display: inline-block;
	}
}
