@use '../abstracts/index' as abs;

.navbar {
	min-height: 3.25rem;
	margin-bottom: 0.25rem;
	color: abs.$black;
	background-color: #fdc;

	&__logo {
		align-items: stretch;
		display: flex;
		flex-shrink: 0;
		min-height: 3.25rem;
	}

	&__menu {
		display: none;
	}

	@include abs.breakpoint('max-large') {
		&__menu {
			background-color: abs.$header;
			box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
			padding: 0.5rem 0;
		}
		&__menu.is-active {
			display: block;
		}
		&__logo &__item {
			display: flex;
			align-items: center;
		}
	}
}

.navbar__menu {
	@include abs.breakpoint('large') {
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.navbar,
.navbar__menu,
.navbar-right,
.navbar-left {
	@include abs.breakpoint('large') {
		display: flex;
		align-items: stretch;
	}
}

.navbar-item {
	flex-grow: 0;
	flex-shrink: 0;
}

.navbar__item,
.navbar__link {
	color: abs.$black;
	display: block;
	line-height: 1.5;
	padding: 0.5rem 0.75rem;
	position: relative;
	font-size: 1rem;
	font-weight: 700;

	@include abs.breakpoint('large') {
		display: flex;
		align-items: center;
	}
}
