// * Colors *
$logo: #eba966;
$header: #ecbcb0;
$beige: #f6dbc0;
$rosapastel: #e6d4d4;
$white: #fff;
$primary-color: #000;

// * Fonts *
$caviarDreams: "CaviarDreams";
$helloVintage: "HelloVintage";
$montserratMd: "Montserrat-Medium";
$montserratLt: "Montserrat-Light";
$montserratReg: "Montserrat-Regular";
