/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$logo: #eba966;
$header: #ecbcb0;
$beige: #f6dbc0;
$rosapastel: #e6d4d4;
$white: #fff;
$black: #000;

/*------------------------------------*\
  #FONTS
\*------------------------------------*/

$caviarDreams: 'CaviarDreams';
$helloVintage: 'HelloVintage';
$montserratMd: 'Montserrat-Medium';
$montserratLt: 'Montserrat-Light';
$montserratReg: 'Montserrat-Regular';

/*------------------------------------*\
  #FONT SIZES
\*------------------------------------*/

$fs-h1: 3.052rem;
$fs-h2: 2.441rem;
$fs-h3: 1.953rem;
$fs-h4: 1.563rem;
$fs-h5: 1.25rem;
$fs-body: 1rem;
$fs-small: 0.8rem;
