.main-login-section {
  display: flex;
}

.login-section {
  max-width: 40rem;
  margin: 2rem auto;
  width: 100%;
  padding: 0 3rem;
  a {
    text-decoration: none;
    float: right;
  }
}

.login {
  &__title {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 2em;
  }
}