.main-signup-section {
  display: flex;
}

.signup-section {
  margin: 6rem auto 0;
  width: 40%;

  &__form {
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-around;
  }
}
