.main-signup-section {
  display: flex;
}

.signup-section {
  max-width: 40rem;
  margin: 2rem auto;
  width: 100%;
  padding: 0 3rem;
  a {
    text-align: right;
    text-decoration: none;
    float: right;
  }
}

.signup {
  &__title {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 2em;
  }
}
