@use '../abstracts/index' as *;

// * Fonts *
@font-face {
	font-family: $caviarDreams;
	src: url('../../assets/fonts/CaviarDreams.ttf');
}

@font-face {
	font-family: $helloVintage;
	src: url('../../assets/fonts/HelloVintage.ttf');
}

@font-face {
	font-family: $montserratReg;
	src: url('../../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: $montserratLt;
	src: url('../../assets/fonts/Montserrat-Light.ttf');
}

@font-face {
	font-family: $montserratMd;
	src: url('../../assets/fonts/Montserrat-Medium.ttf');
}
